.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; 
}


.banner {
    background-color: #363434;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 23%;
    color: white;
    text-align: center;
    z-index: 10;
    width: 100%;
    margin: 0;
}

.fixed-banner {
  position: fixed;
  top:0; 
    left:0;
  width: 100%; 
}


.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

sidebar { 
    position: fixed;
    top: 0;
    width: 20%;
    height: 100%;
    background-color: white;
    border-right: 0.5px solid #eaeaea ;
    margin-right: 50px;
}

.main-section { 
    width: 100%;
    
    .tab {
        padding: 1% 2% 2% 23%;
        margin-bottom: 0;
        border-bottom: none;
        
        .fa-caret-down {
            float: right;
            margin-right: 5%;
            color: white;
        }
        
        h2 {
            margin-bottom: 0;
            padding-top: 20px;
            color: white;
        }
        
        h3 {
            margin: 0;
            color: white;
        }
        
        h3:first-of-type {
            padding-top: 20px;
            padding-bottom: 5px;
        }
        
        h3:last-of-type {
            padding-bottom: 10px;
        }
        

    }
    
    .profile {
        display: flex;
        flex-direction: row;
        padding-left: 23%;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-top: 0;
        border-top: 3px solid #e5e9ed;
        
        img {
            display:block; 
            flex: 1;
        }
        
        p {
            margin: 0 30px;
            font-family: $font-par;
            line-height: 1.5;
            flex: 2;
            color: white;
        }
        
        .button-container {
            flex: 1;
            align-self: center;
            text-align: center;
        }
        
        button {
            border: none;
            border-radius: none;
            font-family: $font-main;
            font-size: 40px;
            padding: 10px 30px;
            background-color: white;
            color: gray;
            
        }
    }
    
    .pane01 {
        background-color: #1c7ea2;
    }
    
    .pane02 {
        background-color: #137632;
    }
    
    .pane03 {
        background-color: #e5b208;
    }
    
    .pane04 {
        background-color: #d84040;
    }
    
    .pane05 {
        background-color: #8b35aa;
    }
    
    .dialog {
            font-family:  $font-main;
            font-size: 60px;
            text-align: center;
            padding: 30px;
            background-color: white;
            box-shadow: 3px 3px 3px 3px #504f4f;
            border-radius: 6px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: fixed;
        
        h3 {
            color: black;
            line-height: 1.5;
        }
        
        .fa-times {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 10px;
            margin-right: 10px;
            font-size: 40px;
        }
    }
}