h1 {
    font-family: $font-main;
    font-size: 30px;
}

h2 {
    font-family: $font-main;
    font-weight: bold;
    font-size: 30px;
}

h3 {
    font-family: $font-main;
    font-size: 23px;
}

p {
    font-size: 13px;
}